<app-frame>
  <app-split-2
    ><ng-template #contentLeft>
      <div class="lebenslauf-left">
        <img
          id="bewerbungsfoto"
          ngSrc="/data/assets/bewerbungsfoto-bono-fox.jpg"
          height="3927"
          width="2618"
          alt="Porträtfoto von Bono Fox"
          [style.border-color]="primaryColor"
          priority
        />
        <h2>{{ getShortName() }}</h2>
        <h3>Persönliches</h3>
        <app-key-value-pair
          key="Geboren"
          [textValue]="getGeburtsdaten()"
        /><app-key-value-pair
          key="Staatsangehörigkeit"
          [textValue]="lebenslaufdaten.meta.staatsangehoerigkeit"
        /><app-key-value-pair
          key="Familienstand"
          [textValue]="lebenslaufdaten.meta.familienstand"
        />
        <h3>Kontakt</h3>
        <app-key-value-pair key="Adresse" [textValue]="getAdressdaten()" />
        @if (lebenslaufdaten.kontakt.mail !== undefined) {
          <app-key-value-pair
            key="Mail"
            [textValue]="lebenslaufdaten.kontakt.mail"
          />
        }
        @if (lebenslaufdaten.kontakt.telefon?.mobil !== undefined) {
          <app-key-value-pair
            key="Telefon (mobil)"
            [textValue]="lebenslaufdaten.kontakt.telefon?.mobil"
          />
        }
        @if (lebenslaufdaten.kontakt.telefon?.festnetz !== undefined) {
          <app-key-value-pair
            key="Telefon"
            [textValue]="lebenslaufdaten.kontakt.telefon?.festnetz"
          />
        }
        <h3>Sprachen</h3>
        @for (sprache of lebenslaufdaten.sprachen; track $index) {
          <app-key-value-pair
            [key]="sprache.bezeichnung"
            [levelValue]="sprache.level"
          />
        }
        <h3>Sonstiges</h3>
        <ul>
          @for (
            weitereInfo of lebenslaufdaten.weitereInfos.weitereBoni;
            track $index
          ) {
            <li>{{ weitereInfo }}</li>
          }
        </ul>
      </div></ng-template
    ><ng-template #contentRight>
      <div class="lebenslauf-right">
        <h3>Berufserfahrung</h3>
        @for (karrierestation of lebenslaufdaten.karriere; track $index) {
          <h4>{{ karrierestation.arbeitgeber }}</h4>
          <p class="karriere-titel">
            {{ karrierestation.jobtitel }}
          </p>
          <p class="karriere-zeitraum">
            {{ karrierestation.zeitraum }}
          </p>
          <ul>
            @for (taetigkeit of karrierestation.taetigkeiten; track $index) {
              <li>{{ taetigkeit }}</li>
            }
          </ul>
        }

        <h3>Bildungsweg</h3>
        @for (bildungsstation of lebenslaufdaten.bildung; track $index) {
          <h4>{{ bildungsstation.abschluss.abschlusstitel }}</h4>
          <p class="bildung-einrichtung">
            {{ bildungsstation.station.bildungseinrichtung }}
          </p>
          <p class="bildung-zeitraum">
            {{ bildungsstation.abschluss.zeitraum }}
          </p>
          <p class="bildung-beschreibung">
            {{ bildungsstation.station.beschreibung }}
          </p>
          <ul>
            <li>
              @if (bildungsstation.abschluss.abgeschlossen) {
                Abschlussnote: {{ bildungsstation.abschluss.abschlussnote }}
              } @else {
                bisheriger Notendurchschnitt:
                {{ bildungsstation.abschluss.bisherigeDurchschnittsnote }}
              }
            </li>
          </ul>
        }

        <h3>Kenntnisse</h3>
        <h4>Hard Skills</h4>
        <div class="skills">
          @for (hardskill of lebenslaufdaten.hardskills; track $index) {
            <app-key-value-pair
              [key]="hardskill.bezeichnung"
              [levelValue]="hardskill.level"
            />
          }
        </div>
        <h4>Soft Skills</h4>
        <ul>
          @for (softskill of lebenslaufdaten.softskills; track $index) {
            <li>{{ softskill }}</li>
          }
        </ul>
      </div>
    </ng-template></app-split-2
  >
</app-frame>
