@import "../../styles";

h2 {
  text-align: center;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.lebenslauf-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  min-height: calc(100vh - (2 * $headerFooterHeight));

  #bewerbungsfoto {
    align-self: center;

    border: 5px solid;
    border-radius: 100%;

    width: 10rem;
    height: 10rem;

    object-fit: cover;
    object-position: 0 28%;
  }
}

.lebenslauf-right {
  h3 {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  h4 {
    margin: 0.5rem 0;

    font-size: 1.2rem;
  }

  p,
  ul {
    margin: 0.3rem 0;
  }

  .karriere-titel,
  .karriere-zeitraum,
  .bildung-einrichtung,
  .bildung-zeitraum {
    font-weight: bold;
  }

  .skills {
    display: flex;
    flex-direction: column;
  }
}
