<app-frame>
  <app-split-2
    ><ng-template #contentLeft>
      <div class="lebenslauf-left">
        <img
          id="bewerbungsfoto"
          ngSrc="/data/assets/bewerbungsfoto-bono-fox.jpg"
          height="3927"
          width="2618"
          alt="Porträtfoto von Bono Fox"
          [style.border-color]="primaryColor"
          priority
        />
        <h2>{{ getShortName() }}</h2>
        <h3>Persönliches</h3>
        <app-key-value-pair
          key="Geboren"
          [textValue]="getGeburtsdaten()"
        /><app-key-value-pair
          key="Staatsangehörigkeit"
          [textValue]="lebenslaufdaten.meta.staatsangehoerigkeit"
        /><app-key-value-pair
          key="Familienstand"
          [textValue]="lebenslaufdaten.meta.familienstand"
        />
        <h3>Kontakt</h3>
        <app-key-value-pair key="Adresse" [textValue]="getAdressdaten()" />
        @if (lebenslaufdaten.kontakt.mail !== undefined) {
          <app-key-value-pair
            key="Mail"
            [textValue]="lebenslaufdaten.kontakt.mail ?? ''"
          />
        }
        @if (lebenslaufdaten.kontakt.telefon?.mobil !== undefined) {
          <app-key-value-pair
            key="Telefon (mobil)"
            [textValue]="lebenslaufdaten.kontakt.telefon?.mobil ?? ''"
          />
        }
        @if (lebenslaufdaten.kontakt.telefon?.festnetz !== undefined) {
          <app-key-value-pair
            key="Telefon"
            [textValue]="lebenslaufdaten.kontakt.telefon?.festnetz ?? ''"
          />
        }
        <h3>Sprachen</h3>
        @for (sprache of lebenslaufdaten.sprachen; track $index) {
          <app-key-value-pair
            [key]="sprache.bezeichnung"
            [levelValue]="sprache.level"
          />
        }</div></ng-template
    ><ng-template #contentRight></ng-template
  ></app-split-2>
</app-frame>
