@import "../../styles";

h2 {
  text-align: center;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.lebenslauf-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  min-height: calc(100vh - (2 * $headerFooterHeight));
}

#bewerbungsfoto {
  align-self: center;

  border: 5px solid;
  border-radius: 100%;

  width: 10rem;
  height: 10rem;

  object-fit: cover;
  object-position: 0 28%;
}
